<div class="min-h-screen flex items-center justify-center bg-gradient-to-b from-blue-50 to-white">
  <div class="w-full max-w-prose p-8 text-center">
    <!-- Envelope illustration -->
    <div class="mx-auto w-52 h-52 mb-8 relative">
      <img
        ngSrc="assets/email.png"
        alt="Verification Image"
        class="absolute inset-0 w-full h-full object-contain"
        height="48" width="48"/>
    </div>

    <!-- Text content -->
    <h1 class="text-xl font-semibold text-gray-900 mb-4">Please Verify Account</h1>
    <p class="text-gray-600 mb-8">
      Enter the six-digit code we sent to your phone number <span class="text-blue-500 underline">{{ phone }}</span> to verify your new BANKATI account:
    </p>

    <!-- Verification code inputs -->
    <form [formGroup]="form" class="flex justify-center gap-2 mb-8">
      <ng-container formArrayName="digits">
        <input
          *ngFor="let control of digits.controls; let i = index"
          [formControlName]="i"
          type="text"
          autocomplete="off"
          class="w-12 h-12 text-center border-2 border-gray-300 rounded-lg text-lg font-medium  focus:border-blue-500 focus:outline-none"
          (keydown)="onKeyDown($event, i)"
          (paste)="onPaste($event)"
          (input)="onInput($event, i)"
        />
      </ng-container>
    </form>


    <!-- Verify button -->
    <button
      class="w-full bg-blue-600 text-white py-3 px-2 rounded-[2px] hover:bg-blue-700 transition-colors flex items-center justify-start"
      (click)="verifyCode()"
      [disabled]="isLoading || !isCodeComplete()"
    >
      <div *ngIf="isLoading" class="spinner-border w-5 h-5 border-2 border-white border-t-transparent rounded-full animate-spin mr-2"></div>
      <span class="flex-grow text-center"> Verify & Continue</span>
    </button>
    <div class="mt-2">
      <p class="text-sm text-center text-gray-700 ">
        Code is expired or not sent ? <a href="javascript:void(0)" class="text-blue-500 underline">Send again</a>
      </p>
    </div>

  </div>
</div>
