<header class="header">
  <nav>
    <img alt="logo"/>
    <div class="navbar-elements">
      <ul class="navbar-elements-il">
        <li>
          <a href="#slider">
            Features
          </a>
        </li>
        <li>
          <a href="#how-it-works">
            How It Works
          </a>
        </li>
        <li>
          <a href="#slider">
            chi haja
          </a>
        </li>
        <li>
          <a href="#contact-us">
            Contact Us
          </a>
        </li>
      </ul>
    </div>
    <div>
      <button class="login-button">Log In</button>
      <button class="contact-us-button">Contact Us</button>
    </div>
  </nav>
</header>
<app-slider></app-slider>

